/* Time */
.time-widget{
  position: absolute;
  bottom: 78%;
  color: white;
  font-family: sans-serif;
}
.time-hours, .time-minutes{
  font-size: 900%;
  font-family: monospace;
}
.div_date{
  position: absolute;
  font-family: calibri;
  font-size: 200%;
  bottom: 5%;
  left: 5%;
}
.delim{
  font-size: 900%;
  font-family: calibri;
}
/* AM or PM */
.part{
  font-family: monospace;
  color: white;
}

.box{
  position: absolute;
  top: 30%;
  left: 72%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 500px;
  background-color: black;
}
.weather{
  font-family: sans-serif;
  padding: 10px;
  color: white;
}
.location{
  position: absolute;
  left: 34%;
  top: 46%;
  font-size: 140%;
  font-weight: 100;
}
.weather .icon{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}
#image{
  width: 100%;
  height: 50%;
}
.weather .temp{
  position: absolute;
  top: 20%;
  left: 100%;
  font-size: 900%;
  transform: translate(-50%,-50%);
}

.weather-description{
  font-family: calibri;
  position: absolute;
  font-size: 180%;
  top: 32%;
  left: 82%;
  font-style: italic;
  font-weight: bold;
}

body{
  background-color: black;
}

.tt{
  color: white;
  position: absolute;
  width: 22%;
  left: 78%;
  top: 24%;
}
